@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiTiM Financial Manager</h1>
    <p class="lead">MiTiM Financial Manager is a manager that manage your finance</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Don click &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Feature 1</h2>
        <p>
            A better name instead of "bug"
        </p>
    </div>
    <div class="col-md-4">
        <h2>Feature 2</h2>
        <p>Hey Google how do I do this</p>
    </div>
    <div class="col-md-4">
        <h2>Feature 3</h2>
        <p>Why is this not working</p>
    </div>
</div>