@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiTiM Financial Manager</h1>
    <p class="lead">MiTiM Financial Manager is a website manager that manage your finance</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Don't click &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What this does 1</h2>
        <p>
            Amazing
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more?? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What this does 2</h2>
        <p>WOW</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more?? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What this does 3</h2>
        <p>Cool</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more?? &raquo;</a></p>
    </div>
</div>