@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>MiTiM Financial Manager</h1>
    <p class="lead">MiTiM Financial Manager is a manager that manage your finance</p>
</div>

<div class="col-lg-auto">
    <h2>Transactions</h2>
    <p>
        @Html.Partial("Transaction/Index")
    </p>
</div>
<div class="col-lg-auto">
    <h2>Analytics</h2>
    <p>
        @Html.Partial("Analytics/Index")
    </p>
</div>
<div class="col-lg-auto">
    <h2>Budget</h2>
    <p>
        @Html.Partial("Budget/Index")
    </p>
</div>