@{
    ViewBag.Title = "Budget";
}
@model FinanceManager.Models.BudgetModel

<link rel="stylesheet1" type="text/css" href="~/Content/site.css">

@if (ViewBag.IsNotDashboard == null) //Below will be shown on the dashboard page
{
    <div class="jumbotron">
        <h1>Budgets</h1>
        <p class="lead">You can manage/add budgets here.</p>
    </div>
}
else //Below will be shown on the main budget page
{
    <span class="btn btn-primary" data-target="#MyModal" data-toggle="modal" style="width:150px">Add a Budget</span>
    <div style="display:flex">
        <div class="vertical-menu th">
            @foreach (FinanceManager.Models.BudgetModel budget in ViewBag.Budget)
            {
                <a href="#">@budget.Category</a>
            }
        </div>
        <div class="divRight" style="margin-left:50px; width:300px">
            <h2>Budget stats:</h2>
            <div class="card bg-light">
                <div class="card-header">Description</div>
                <div class="card-body">
                    <label for="Budget">Amount:</label>
                    <input type="text" class="form-control" id="BudgetAmount" />
                    <label for="Frequency">Frequency:</label>
                    <select class="form-control">
                        <option>1</option>
                    </select>
                    <label for="AccountType">Account Type:</label>
                    <select class="form-control">
                        <option>1</option>
                    </select>
                    <span>Total:</span>
                    <span>*Amount left*</span>
                    <br />
                    <div style="margin-left:25px">
                        <label class="form-check-label">
                            <input title="" type="checkbox" class="form-check-input" name="Include Essentials" />Include Essentials
                            <br />
                            <input type="checkbox" class="form-check-input" name="Exclude Essentials" />Exclude Essentials
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}