body {
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

// redifine the glyphicons font family to font-awesome
.glyphicon:before {
    font-family: 'Glyphicons Halflings';
}

// redifine .glyphicon
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// point glyphicon-remove-circle icon to the neareset font-awesome equivalent
.glyphicon-remove-circle:before {
    content: "\f05c";
}

.glyphicon-chevron-down:before {
    content: "\f078";
}

.glyphicon-chevron-up:before {
    content: "\f077";
}

.hidden {
    display: none !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.vertical-menu {
    width: 200px;
    height: 500px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.divLeft {
    flex: 1;
    float: left;
}

.divRight {
    margin-left: 25px;
}
