@{
    ViewBag.Title = "Transactions";
}

<div class="jumbotron">
    <h1>Transactions</h1>
    <p class="lead">You can manage/add transactions here.</p>
</div>

<div class="row">
    <p>For each transaction, create a row with the information</p>
</div>