@{
    ViewBag.Title = "Analytics";
}

<div class="jumbotron">
    <h1>Analytics</h1>
    <p class="lead">You can see Analytics here.</p>
</div>

<div class="row">
    <p>Here just to look pretty</p>
</div>