@{
    ViewBag.Title = Resources.Global.ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.Global.ThanksYouForConfirmingYourEmail @Html.ActionLink(Resources.Global.ClickHereToLogin, Resources.Global.Login, Resources.Global.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
