@{
    ViewBag.Title = Resources.Global.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Global.ResetPasswordConfirmationLabel @Html.ActionLink(Resources.Global.ClickHereToLogin, Resources.Global.Login, Resources.Global.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
