@{
    ViewBag.Title = "Budget";
}

<div class="jumbotron">
    <h1>Budget</h1>
    <p class="lead">You can manage your budget here.</p>
</div>

<div class="row">
    <p>Settings for your budget here w/ a button</p>
</div>